{{#if showFor}}
  {{#if displayHomepageFeatured}}
    <div class="custom-homepage-wrapper">
      <div class="custom-homepage">
        <div class="featured-category-wrapper">
          {{#if (theme-setting "show_title")}}
            {{titleElement}}
          {{/if}}
          {{#if (theme-setting "show_description")}}
            {{descriptionElement}}
          {{/if}}
          {{conditional-loading-spinner condition=loadingFeatures}}
          <div class="featured-categories">
            {{#each customFeaturedCategories as |c|}}
              <a href="/c/{{c.slug}}/{{c.id}}" class="featured-category">
                <div class="featured-category-image"
                    style="background-image: url({{c.uploaded_logo.url}})">
                </div>
                <div class="featured-category-content">
                  <h3 class="featured-category-name">
                    {{c.name}}
                  </h3>
                  <p class="featured-category-description">{{c.description_text}}</p>
                </div>
              </a>
            {{/each}}
          </div>
        </div>
      </div>
    </div>
  {{/if}}
{{/if}}
